.select_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.select_container select{
    padding: 0.3rem;
    border: none;
    border-radius: 2px;
}